@model Aydinlik_Bilgi_Islem.Models.db.GenelBilgi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.islemYapildimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.islemYapildimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sikayet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sikayet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.macAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.macAdres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Listeye geri dön", "Index")
</p>
