@model Aydinlik_Bilgi_Islem.Models.db.GenelBilgi

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Şikayet Formu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ad, "", new { @class = "text-danger" })
            </div>
        </div>
                
        <div class="form-group">
            @Html.LabelFor(model => model.sikayet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sikayet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sikayet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input  id="btnGonder" type="submit" value="Gönder" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $().ready(function () {
        $('#btnGonder').click(function () {
            emailjs.send("gmail", " template_2oDkCThb", { name: "James", notes: "Check this out!" });
        })
    })
    
</script>

@*<script>
    $().ready(function () {
        $('#btnGonder').click(function () {
            sendMail();
        })
    })

    function sendMail() {
        $.ajax({
            type: 'POST',
            url: 'https://mandrillapp.com/api/1.0/messages/send.json',
            data: {
                'key': 'YOUR API KEY HERE',
                'message': {
                    'from_email': 'sisemih@gmail.com',
                    'to': [
                        {
                            'email': 'sisbas@yahoo.com',
                            'name': 'RECIPIENT NAME (OPTIONAL)',
                            'type': 'to'
                        }
                    ],
                    'autotext': 'true',
                    'subject': 'YOUR SUBJECT HERE!',
                    'html': 'YOUR EMAIL CONTENT HERE! YOU CAN USE HTML!'
                }
            }
        }).done(function (response) {
            console.log(response); // if you're into that sorta thing
        });
    }
</script>*@